.container{
  margin: 0 auto; 
  margin-top: 20px; 
}
.blog-container{
  max-height: 200px;
  display: inline-block;
}
h1 a, h3 a, .author{
  font-family: "Comic Sans MS", cursive, sans-serif	;
}

h1{
  text-align: center;
  color: brown;
  text-transform: uppercase;
}

.blog{
  font-weight: bold;
  font-size: 17px;
}

.author{
  margin-top: 20px;
}

.login-button{
  float: right;
  margin: 10px;
}

.form-container{
  text-align: center;
}

.form{
  font-size: 20px;
}

.submit-button{
  font-size: 20px;
  border: 2px solid green;
  border-radius: 20px; 
}

.welcome-text{
  font-size: 25px;
  color: green;
  text-transform: uppercase ;
  font-family: "Comic Sans MS", cursive, sans-serif	;
}
